body{
    text-align: center;
}
h1{
    font-size: 45px;
    text-align: center;
    margin: 30;
    color: rgb(42, 10, 72);
    color: red;
}

/* input{
    margin: 2rem;
}
.btn{
    background-color: rgb(180, 238, 238);
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 20px;
}
ul{
    margin: 2rem;
    list-style: none;
}
.delete{
    text-decoration: underline;
} */
/* img{
    height: 300px;
    width: 300px;
    margin: 2rem;
} */

.apiButton{
    margin: 1rem;
    padding: 10px 20px;
}